@import url('../Pretendard-1.3.8/web/static/pretendard.css');

#modalContainer_e .modal {
    width: 100vw;
    height: 100vh;
}

#modalContainer_e .modal *{
    font-family: 'Pretendard';
}

#modalContainer_e .modal-dialog{
    margin: 0 auto;
}

#modalContainer_e .help_modal_dialog {
    width: 88.2%;
    height: 100%;
    max-width: none;
}

#modalContainer_e .modal-content{
    width: 100%;
    height: 33.6%;
}

#modalContainer_e .modal-header{
    height: 27.2%;
    width: 100%;

    border: none;
}

#modalContainer_e .header_box{
    width: 95%;
    height: 36.3%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#modalContainer_e .fs-5{
    font-size: 4.5vw!important;
    font-weight: 600;

    color: #007AC2;
}

#modalContainer_e .modal-body{
    width: 100%;
    height: 39.3%;

    border: none;
}

#modalContainer_e .modal-body *{
    font-size: 3vw;
    font-weight: 400;
}

#modalContainer_e .modal-footer{
    width: 100%;
    height: 24.4%;
    padding: 0 5.8%;

    display: flex;
    justify-content: end;
    align-items: center;

    border: none;
}

#modalContainer_e .modal-footer button{
    width: 18.6%;
    height: 48.1%;

    background-color: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3vw;
    font-weight: 600;
}