html{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.banner{
    width: 100%;
    height: 18.1%;
    border: solid 1px red;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_content_box{
    border: solid 1px green;
    width: 86.1%;
    height: 59.4%;

    display: flex;
}

.banner img{
    width: 27.2%;
    height: 100%;
    border: solid 1px red;
}

.banner_ment{
    width: 72.8%;
    height: 100%;
    border: solid 1px blue;
    padding: 0 7.5%;
}

.main{
    width: 100%;
    height: 69.4%;
    display: flex;
    align-items: center;
    border: solid 1px blue;
}

.bottom{
    width: 100%;
    height: 12.5%;
    border: solid 1px green;
    padding: 6% 5.8%;
    box-sizing: border-box;
}

.all {
    width: inherit;
    height: 100%;
}

.help {
    width: 100%;
    height: 27%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.helping {
    width: 12%;
}

.language {
    border: solid 1px red;
    width: 100%;
    height: 100%;
}

.language_content_box{
    height: 100%;
    width: 37.5%;
    border: solid 1px purple;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language_content_box div{
    height: 100%;
    width: 46.6%;
    border-radius: 20PX;

    display: flex;
    justify-content: center;
    align-items: center;
}

.selected_lag {
    box-shadow: 0 0 5px rgb(231, 170, 27);
}

.kor {
    background-color: white;
    border: solid 2px black;
}

.usa {
    background-color: white;
    border: solid 0.5px black;
}

.first {
    margin: 0 5.8%;
    height: 100%;
    width: 100%;

    border: solid 1px green;
}

.cafe_name{
    width: 100%;
    height: 15.3%;
    border: solid 1px red;
}

.order_explan{
    width: 100%;
    height: 13%;
    border: solid 1px purple;

    display: flex;
    justify-content: center;
    align-items: center;
}

.order_explan_content{
    width: 85.1%;
    height: 33.3%;
    border: solid 1px red;

    display: flex;
    justify-content: space-between;
}

.order_explan_content div{
    border: solid 1px green;
    width: 42%;
    height: 100%;
}

.fir_box {
    height: 44.7%;
    width: 100%;
    border: solid 1px orange;
    padding: 0 2.5%;
    box-sizing: border-box;
}

.order {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.order div {
    height: 94.1%;
    width: 44.7%;
    border: solid 1.5px black;
    border-radius: 15px;
    box-shadow: 7px 7px gray;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and(width : 700px) {
    .order div {
        width: 40%;
        height: 35%;
    }
}

.order section {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.order_button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

