@import url('../Pretendard-1.3.8/web/static/pretendard.css');

html,
body {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Pretendard';

    overflow: hidden;
}

.all_box {
    width: 100vw;
    height: 100vh;
}

.top_banner {
    width: 100%;
    height: 12.6%;

    display: flex;
    justify-content: center;
    align-items: end;
}

.cafe_name {
    width: 29.4%;
    /* height: 35.4%; */
    margin-bottom: 10px;
}

.hoi_box {
    height: 100%;
    display: flex;
    align-items: end;

    position: relative;
    top: 10%;
}

.hoi {
    height: 87.3%;
}

.help {
    width: 12%;
    height: 4.8%;
    background-color: black;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3vw;
    border: solid 1px black;

    position: absolute;
    right: 4.4%;
    top: 7%;
}

#imageLink {
    color: white;
}

/*전체 div flex*/
.main_box {
    width: 100%;
    height: 77.6%;
    padding: 3.2% 4.4%;

    background-color: #f4f4f4;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*네비게이션 바*/
.navigation {
    height: 7.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    border: solid 2px #007AC2;
}

.navigation_all_box {
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; 아래랑 같은 기능*/
    display: flex;
    justify-content: space-between;
}

.box_line {
    background-color: white;
    flex: 1;
    display: flex;
    border-radius: 10px;
}

.box_line:nth-child(2) {
    border-left: solid 2px #007AC2;
    border-right: solid 2px #007AC2;
    border-radius: 0;
}

/* .now {
    animation: progressAnimation 2.5s linear infinite;
  }
  
  @keyframes progressAnimation {
    0% {
      height: 0;
    }
  
    100% {
      height: 100%;
    }
  } */

/*각 단계 버튼*/
.level_button {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007AC2;
    background-color: rgba(0, 122, 194, 0.1);
}

.circle_name {
    margin: 0;
    font-size: 3vw;
    font-weight: 500;
}

.selectpay {
    width: 100%;
    height: 89.5%;

    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    height: 14.5%;

    padding: 4.5% 5.6%;

    font-size: 4.5vw;
    font-weight: 600;
}

.title img {
    height: 100%;

    margin-right: 10px;
}

/*본문*/
.fir_box {
    width: 100%;
    height: 65.3%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2.5% 0;
}

.explain {
    width: 43.9%;
    height: 100%;

    font-size: 3.5vw;
    font-weight: 600;
    text-align: center;
}

.video {
    height: 86%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video img {
    height: 100%;
}

.pay_card {
    background-color: white;
    width: 100%;
}

.under_buttons {
    width: 100%;
    height: 20.2%;

    padding: 3.9% 6.4%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.under_buttons button {
    width: 48.1%;
    height: 100%;
    border-radius: 10px;

    color: white;
    background-color: #007AC2;
    font-weight: 600;
    font-size: 4.5vw;
    border: solid 1px #007AC2;
}

/*하단 고정 버튼*/
.bottom_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4.4%;
    height: 9.8%;
    width: 100%;
    box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.25);

    border-top: solid 3px #d9d9d9;
}

.fix_button_detail {
    width: 20vw;
    height: 100%;
    background-color: white;
    font-weight: 400;
    font-size: 3vw;

    align-items: center;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;

    flex: 1;
}

.fix_button_detail img {
    margin: 0 2px;
    height: 33.9%;
    width: auto;

    margin-bottom: 10px;
}

.fix_button_detail:hover {
    background-color: #42BEAF;
    border: solid 1px #42BEAF;
}

/*최종 금액*/
.total_cost_box {
    height: 100%;
    width: 68.4%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.total_cost_box {
    flex: 3;
    text-align: center;
    height: 100%;
    background-color: #E70A0A;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 4.3vw;
}

.total_cost {
    font-weight: 600;
}